* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.main-title {
	margin-bottom: 4rem;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.file_field-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.file_field-label {
	font-size: 1.2rem;
}

.file_field-button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 8px;
	background-color: cyan;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 500;
	transition: all 0.2s linear;
}

.file_field-button:hover {
	background-color: rgb(0, 224, 224);
}

.files-container {
	border: 1px solid #000;
	min-height: 400px;
	padding: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 3rem;
}

.file_image-container {
	position: relative;
	flex: 0 0 280px;
}

.file_image-delete {
	position: absolute;
	right: -6px;
	top: -8px;

	padding: 0.2rem 0.4rem;
	font-size: 1.1rem;
	color: #fff;
	border-radius: 50%;
	border: none;
	background-color: #f00;
	cursor: pointer;

	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease;
}

.file_image-delete:hover {
	background-color: #b60000;
}

.file_image-container:hover .file_image-delete {
	opacity: 1;
	pointer-events: auto;
}

.file_image {
	width: 100%;
	object-fit: cover;
}
